<app-toast-messages [openPopUp]="openPopUp" [header]="header" [body]="body" [style]="style" (closeModalEvent)="closePopUp($event)"></app-toast-messages>
<button type="submit" class="btn btn-info cancelButton" (click)="cancelSubmit()">Anuluj zamówienie</button>
<div *ngIf="isCancelFlag">
  <label class="card-title" style="color: red; font-style: italic;">Uwaga, Twoje zamówienie zostanie anulowane, czy potwierdzasz anulację</label>
  <button type="submit" class="btn btn-info" style="margin-bottom: 1em;" (click)="cancel()">Potwierdzam</button>
  <button type="submit" class="btn btn-info" style="margin-bottom: 1em;" (click)="returnToOrder()">Wróć do zamówienia</button>
</div>

<div *ngIf="!isCancelFlag" style="margin-bottom: 8em;">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Koszyk</h5>
      <h6 class="card-subtitle mb-2 text-muted">Twoje zamówienie:</h6>
      <ul style="display: inline-block !important;">
        <li *ngFor="let order of cart.orderPositions">
          {{ order.product.title}} - {{ order.quantity}} szt.
          <a class="close" [routerLink]="" (click)="deleteItemFromBasket(order)">&times;</a>
        </li>
      </ul>
      <br>
      <label class="card-title">
        Podaj kod rabatowy:
        <input style="color: gray;" type="text" maxLength="15" >
      </label>
      <button type="submit" [disabled]="false" class="btn btn-info">Przelicz rabat</button>
      <h6 class="card-subtitle mb-2 text-muted margin">Suma zamówienia: {{orderSum}} zł</h6>
    </div>
  </div>

  <!--Adres dostawy-->
  <div class="card-body0">
    <h5 class="card-title margin">Wprowadź adres dostawy:</h5>
    <form>
      <div class="form-group card-subtitle mb-2 text-muted">
        <input type="checkbox"  name="isOtherAddress" value={{isOtherAddress}} (click)="onCheckboxChange()">
        <label for="isOtherAddress">Inny adres dostawy</label>
        <br>
        <label for="street">Ulica</label>
        <input class="form-control"  type="text" maxlength="255"
               name="street" id="street_123" [(ngModel)]="street" [readonly]="!isOtherAddress">
        <label for="city">Miasto</label>
        <input class="form-control" type="text" maxlength="255"
               name="city" [(ngModel)]="city" [readonly]="!isOtherAddress">
        <label for="buildingNumber">Numer domu</label>
        <input class="form-control" type="text" maxlength="255"
               name="buildingNumber" [(ngModel)]="buildingNumber" [readonly]="!isOtherAddress">
        <label for="apartmentNumber">Numer mieszkania</label>
        <input class="form-control" type="text" maxlength="255"
               name="apartamentNumber" [(ngModel)]="apartamentNumber" [readonly]="!isOtherAddress">
        <label for="zipCode">Kod pocztowy</label>
        <input class="form-control" type="text" maxlength="6"
               name="zipCode" pattern="[0-9]{2}-[a-zA-Z]{2}" [(ngModel)]="zipCode"
               [readonly]="!isOtherAddress">
      </div>
    </form>
  </div>
  <button type="submit" [disabled]="isDisabledSubmit" class="btn btn-info submitButton" (click)="submitOrder()">Zatwierdź zamówienie</button>
</div>


