.submitButton {
  background-color: forestgreen;
  border-color: green;
  min-width: 100%;
}

.cancelButton {
  background-color: red;
  border-color: red;
  min-width: 100%;
}

.margin {
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.card {
  border-color: darkgray;
  position: center;
  min-width: 70%;
}
