<app-toast-messages header="Dodano produkt do koszyka" body="Przejdź do zakładki koszyk, aby złożyć zamówienie"
                    [openPopUp]="wasAddToCard" [style]="style" (closeModalEvent)="closePopUp($event)" >
</app-toast-messages>
<app-toast-messages header="Brak wyników dla podanego zapytania" body="Wpisz tytuł lub autora książki"
                    [openPopUp]="isEmptySearch" [style]="style" (closeModalEvent)="closePopUp($event)" >
</app-toast-messages>

<div class="card my-5" style="display: inline-block !important;">
  <div class="card-body" style="display: inline-block !important;">
    <div class="search-container">
      <form>
        <input ng-model="searchText" type="text" (input)="closePopUp('')" placeholder="Wyszukaj tytuł lub autora" id="search">
        <button class="btn btn-info" (click)="searchProducts()">Wyszukaj</button>
      </form>
    </div>
  <hr>
    <table class="table table-bordered table-striped" style="display: inline-block !important;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Tytuł</th>
          <th scope="col">Autorzy</th>
          <th scope="col">Gatunek</th>
          <th scope="col">Krótki opis</th>
          <th scope="col">Długi opis</th>
          <th scope="col">Cena</th>
          <th scope="col">Data wydania</th>
          <th scope="col">Dostępna liczba sztuk</th>
          <th scope="col">Dodaj do koszyka</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.title }}</td>
          <td>
              <ul *ngFor="let author of product.authors">
                <li>{{author.firstName}} {{author.lastName}}</li>
              </ul>
          </td>
          <td>
            <ul *ngFor="let genre of product.genres">
              <li>{{genre.name}}</li>
            </ul>
          </td>
          <td>{{ product.shortDescription }}</td>
          <td>{{ product.longDescription }}</td>
          <td>{{ product.price }} zł</td>
          <td>{{ product.establishmentDate }}</td>
          <td>{{ product.availableQuantity }}</td>
          <td><button (click)="addToCart(product)">Do koszyka</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

