<div class="card text-white bg-danger mb-3" style="display: inline-block !important; width: 900px !important;">
  <div class="card-header text-center" style="display: inline-block !important; width: 900px !important;">Koszyk</div>
  <div class="card-body" style="display: inline-block !important; width: 900px !important;">
    <label class="card-title" style="display: inline-block !important;">Produkty:</label>

    <div style="display: inline-block !important;">
      <ul style="display: inline-block !important;">
        <li *ngFor="let order of cart.orderPositions">
          {{ order.product.title }} - {{ order.quantity}} szt.
        </li>
      </ul>
    </div>

    <label style="display: inline-block !important;">Razem: {{total}} zł</label>
    <button class="btn btn-light btn-block" (click)="makeOrder()" style="display: inline-block !important;"
    [disabled]="cart.orderPositions.length == 0">Złóż zamówienie
    </button>
  </div>
</div>




<div class="card my-5" style="display: inline-block !important;">
  <div class="card-body" style="display: inline-block !important;">

    <div class="search-container">
      <form>
        <input ng-model="searchText" type="text" placeholder="Wyszukaj tytuł lub autora" id="search">
        <button (click)="searchProducts()">Wyszukaj</button>
      </form>
    </div>

  <hr>

    <table class="table table-bordered table-striped" style="display: inline-block !important;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Tytuł</th>
          <th scope="col">Autorzy</th>
          <th scope="col">Gatunek</th>
          <th scope="col">Krótki opis</th>
          <th scope="col">Długi opis</th>
          <th scope="col">Cena</th>
          <th scope="col">Data wydania</th>
          <th scope="col">Dostępna liczba sztuk</th>
          <th scope="col">Dodaj do koszyka</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.title }}</td>
          <td>
              <ul *ngFor="let author of product.authors">
                <li>{{author.firstName}} {{author.lastName}}</li>
              </ul>
          </td>
          <td>
            <ul *ngFor="let genre of product.genres">
              <li>{{genre.name}}</li>
            </ul>
          </td>
          <td>{{ product.shortDescription }}</td>
          <td>{{ product.longDescription }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.establishmentDate }}</td>
          <td>{{ product.availableQuantity }}</td>
          <td><button (click)="addToCart(product)">Do koszyka</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

